Welcome {{ first_name }}!<br />

Our records show that you have just registerd for an account with Asseter.<br />
<br />
Congratulations!<br />
<br />
Here is your verification code: <a href="{{ host }}/register/verification-code/{{ verification_code }}">{{ verification_code }}</a><br />
<br />
Instructions:<br />
Click to be activated or try to login and you will be re-directed to verification page where you'll copy and paste the above Verification Code to be activated.<br />
<br />
If you have any questions, do not hesitate to contact our nerds @ <a href="mailto:{{ my_email }}">Asseter</a>.<br />
<br />
Regards,<br />
<br />
Asseter