{% extends 'UserUserBundle::layout.html.twig' %}

{% block body %}
<form action="{{ path('user_dashboard') }}" method="post" {{ form_enctype(userLogin) }} >
        <div>
            {{ form_label(userLogin.email) }}
            {{ form_errors(userLogin.email) }}
            {{ form_widget(userLogin.email) }}
        </div>
        <div>
            {{ form_label(userLogin.passcode) }}
            {{ form_errors(userLogin.passcode) }}
            {{ form_widget(userLogin.passcode) }}
        </div>
        <div>
            {{ form_widget(userLogin.login) }}
            <a href="{{ path('user_register') }}" id="register">Register</a>
        </div>
        {#{{ form_rest(userLogin) }}#}

    {#background: none repeat scroll 0 0 #448df6;#}
    {#border: 3px solid #448df6;#}
    {#color: #14c65e;#}
    {#float: left;#}
    {#margin-right: 10px;#}
</form>
{% endblock %}