{% extends 'UserUserBundle::layout.html.twig' %}

{% block body %}
    <form action="{{ path('user_register_submit') }}" method="post" {{ form_enctype(user) }} >
        <ul>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <li>{{ flashMessage }}</li>
        {% endfor %}
        </ul>
        <div>
            <label for="firstName">First Name: </label><input id="firstName" name="firstName" type="text" />
            <label for="lastName">Last Name: </label><input id="lastName" name="lastName" type="text"  />
        </div>
        <div>
            <label for="email">E-mail: </label><input id="email" name="email" type="email"  />
            <label for="passcode">Passcode: </label><input id="passcode" name="passcode" type="password"  />
        </div>
        <div>
            <input type="hidden" name="_token" value="{{ csrf_token('user') }}">
            <input id="register" name="register" value="Register" type="submit" />
        </div>
        <a href="{{ path('user_user_homepage') }}" id="login">Back to Login</a>

        {#background: none repeat scroll 0 0 #448df6;#}
        {#border: 3px solid #448df6;#}
        {#color: #14c65e;#}
        {#float: left;#}
        {#margin-right: 10px;#}
    </form>
{% endblock %}