<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>{% block title %}Asseter{% endblock %}</title>
    {#<link href=" {{ asset('bundles/asseteruser/css/font-awesome.min.css') }}" rel="stylesheet" />#}
    <link href=" {{ asset('bundles/asseteruser/css/custom.css') }}" rel="stylesheet" />
    {% block stylesheets %}
        <link href=" {{ asset('bundles/asseteruser/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/asseteruser/css/bootstrap-theme.css') }}" rel="stylesheet" />
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
    {% endblock %}
</head>
{% block javascripts %}
    <script src="{{ asset('bundles/asseteruser/js/jquery.js') }}"></script>
{% endblock %}
{% block header %}
{% endblock %}
<body>
{% block body %}{% endblock %}
<script type="text/javascript" >
    $( document ).ready(function() {
//            $('#register, #login').on('click',function(e){
//                console.log('haha');
//                e.preventDefault();
//            });
//            $('#login').on('click',function(e){
//                e.preventDefault();
//            });
    });
</script>
</body>
</html>